.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: #fffdf7;
  position: relative;
  z-index: 2;
}

.logo img {
  max-height: 50px;
}

.nav-links {
  display: flex;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}

.mat-icon {
  font-size: 24px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #fffdf7;
  }

  .nav-links.responsive {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #fffdf7;
  }

  .hamburger {
    display: block;
  }
}
