<header class="navbar">
  <div class="logo">
    <a [routerLink]="RouteManager.getHome()">
      <img src="../../../../assets/images/logo.png" alt="Logo">
    </a>
  </div>

  <div class="nav-links" [class.responsive]="showMenu">
    <a class="me-2 mj-button-secondary" (click)="navigateAndCloseMenu(RouteManager.getCourses())">Kursy</a>
    <a class="me-2 mj-button-secondary" (click)="navigateAndCloseMenu(RouteManager.getRecruitmentQuestions())">Pytania rekrutacyjne</a>
    <a class="me-2 mj-button-secondary" (click)="navigateAndCloseMenu(RouteManager.getNewsletter())">Newsletter</a>
    <a
      class="mj-button-primary main-nav-button"
      *ngIf="!authenticationService.isLoggedIn(); else authenticatedView"
      (click)="navigateAndCloseMenu(RouteManager.getLogin())">Zaloguj się</a>
  </div>
  <button class="hamburger" (click)="toggleMenu()">
    <mat-icon *ngIf="!showMenu">menu</mat-icon>
    <mat-icon *ngIf="showMenu">close</mat-icon>
  </button>
</header>

<ng-template #authenticatedView>
  <a class="me-2 mj-button-primary main-nav-button" [matMenuTriggerFor]="menu">Konto</a>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="RouteManager.getUserProfile()">Mój profil</button>
    <button mat-menu-item [routerLink]="RouteManager.getUserCourses()">Moje kursy</button>
    <button mat-menu-item (click)="logout()">Wyloguj</button>
  </mat-menu>
</ng-template>
