<div>
  <ng-container *ngIf="componentState !== ComponentStateEnum.LOADING; else loader">
    <app-solved-quiz
      *ngIf="componentState === ComponentStateEnum.PREVIEW"
      [solvedQuizResponse]="solvedQuizResponse"
      [quizQuestions]="quizQuestions"
    ></app-solved-quiz>
    <ng-container>
      <div class="d-flex align-items-center mb-3">
        <h1 class="me-4 mb-0">Quiz wielokrotnego wyboru, zaznacz wszystkie poprawne odpowiedzi</h1>
        <button mat-raised-button color="accent"
                (click)="exportToPdf()">
          <div class="d-flex align-items-center">
            <mat-icon class="me-2">picture_as_pdf</mat-icon>
            <span>Eksportuj pytania do PDF</span>
          </div>
        </button>
      </div>
      <div class="quiz-container" #pdfContent>
        <div class="question"  *ngFor="let question of quizQuestions">
          <div class="question-content">{{ question.content }}</div>
          <div class="answers">
            <div class="answer mb-2" *ngFor="let answer of question.answers">
              <div [ngClass]="{
                          'correct-answer' : isCorrectAnswer(question, answer),
                          'incorrect-answer':  isIncorrectAnswer(question, answer)
                      }">
                <mat-checkbox class="max-w-100"[formControl]="getControlForAnswer(question.id, answer.id)">
                  <span>{{ answer.content }}</span>
                </mat-checkbox>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button mat-raised-button color="accent" (click)="submit()">Wyślij i sprawdź wynik</button>
    </ng-container>
  </ng-container>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
