<div class="form-con">
  <div class="form-container">
    <h2>Rejestracja</h2>
    <ng-container *ngIf="componentState !== ComponentStateEnum.LOADING; else loader">
      <div class="row mb-2 max-w-input">
        <mat-form-field>
          <input matInput
                 placeholder="Podaj imię..."
                 [formControl]="firstNameFormControl"/>
        </mat-form-field>
      </div>

      <div class="row mb-2 max-w-input">
        <mat-form-field>
          <input matInput
                 placeholder="Podaj nazwisko..."
                 [formControl]="lastNameFormControl"/>
        </mat-form-field>
      </div>

      <div class="row mb-2 max-w-input">
        <mat-form-field>
          <input matInput
                 placeholder="Podaj email..."
                 [formControl]="emailFormControl"/>
        </mat-form-field>
      </div>

      <div class="row mb-2 max-w-input">
        <mat-form-field>
          <input matInput
                 placeholder="Podaj hasło..."
                 [formControl]="passwordFormControl"
                 [type]="'password'"/>
        </mat-form-field>
      </div>

      <div class="row mb-2 max-w-input">
        <mat-form-field class="example-full-width">
          <mat-label>Telefon</mat-label>
          <span matPrefix>+48 &nbsp;</span>
          <input [formControl]="phoneNumberFormControl" type="tel" matInput placeholder="555-555-1234">
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
      </div>

      <button class="mj-button-primary mb-4"
              (click)="submitForm()">
        Zajerestruj się
      </button>

      <div class="d-flex align-items-center">
        <p class="me-2 mb-0">
          Masz już konto?
        </p>
        <button class="mj-button-primary"
                [routerLink]="RouteManager.getLogin()">Zaloguj się</button>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
