<div class="form-con" (keydown.enter)="login()">
  <div class="form-container">
    <h2>Logowanie</h2>

    <ng-container *ngIf="componentState !== ComponentStateEnum.LOADING; else loader">
      <div class="row mb-2 max-w-input">
        <mat-form-field>
          <input matInput
                 placeholder="Podaj email..."
                 [formControl]="emailFormControl"/>
        </mat-form-field>
      </div>

      <div class="row mb-2 max-w-input">
        <mat-form-field>
          <input matInput
                 placeholder="Podaj hasło..."
                 [formControl]="passwordFormControl"
                 [type]="'password'"/>
        </mat-form-field>
      </div>

      <div class="mb-5">
        <a class="mj-button-primary"
           (click)="login()">Zaloguj się</a>
      </div>

      <div class="d-flex align-items-center mb-4">
        <p class="me-2 mb-0">
          Nie masz jeszcze konta?
        </p>
        <a [routerLink]="RouteManager.getRegister()">
          <a class="mj-button-primary">Zajerestruj się</a>
        </a>
      </div>

      <div class="d-flex align-items-center">
        <p class="me-2 mb-0">
          Zapomniałeś hasła?
        </p>
        <a [routerLink]="RouteManager.getRecoverPassword()">
          <a class="mj-button-primary">Przypomnij hasło</a>
        </a>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
