<div class="templates-con">
  <ng-container *ngIf="componentState !== ComponentStateEnum.LOADING; else loader">
    <div class="d-flex align-items-start flex-con">
      <ng-template [ngTemplateOutlet]="personalDataTemplate"></ng-template>
      <ng-template [ngTemplateOutlet]="avatarImageTemplate"></ng-template>
    </div>
  </ng-container>
</div>

<ng-template #personalDataTemplate>
  <div class="personal-data-con mb-4 me-5">
    <div class="row w-100">
      <mat-form-field class="mb-2">
        <input matInput
               placeholder="Twój email..."
               readonly
               [formControl]="email"
        />
      </mat-form-field>

      <mat-form-field class="mb-2">
        <input matInput
               placeholder="Twoje imię..."
               [formControl]="firstName"
        />
      </mat-form-field>

      <mat-form-field class="mb-2">
        <input matInput
               placeholder="Twoje nazwisko..."
               [formControl]="lastName"
        />
      </mat-form-field>

      <mat-form-field class="mb-2">
        <mat-label>Telefon</mat-label>
        <span matPrefix>+48 &nbsp;</span>
        <input [formControl]="phoneNumber" type="tel" matInput placeholder="Twój numer telefonu...">
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>

      <button class="mj-button-primary" (click)="submit()">Zapisz dane profilu</button>
    </div>
  </div>
</ng-template>

<ng-template #avatarImageTemplate>
  <div class="d-flex flex-column align-items-center">
    <img *ngIf="userAccountData?.avatarImg; else defaultAvatarImage"
         class="mb-2 avatar-img"
         [src]="'data:image/png;base64,' + userAccountData?.avatarImg"/>
    <input hidden (change)="onFileSelected()" #fileInput type="file" id="file">
    <button class="mj-button-primary" (click)="fileInput.click()">Zmień avatara</button>
  </div>
</ng-template>

<ng-template #defaultAvatarImage>
  <img class="avatar-img mb-2" src="assets/images/default_avatar.png">
</ng-template>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
