
.avatar-container {
  position: relative;
  display: inline-block;
}

img {
  width: 100px; /* Set your desired width */
  height: 100px; /* Set your desired height */
  border-radius: 50%;
  cursor: pointer;
}

.anonymous-avatar {
  width: 100px; /* Set your desired width */
  height: 100px; /* Set your desired height */
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.anonymous-avatar i {
  font-size: 36px;
  color: #fff;
}

.avatar-img {
  width: 9rem;
  border-radius: 50%;
  height: 9rem;
}

.templates-con {
  align-items: start;
}


@media screen and (max-width: 800px) {
  .sidenav-con {
    width: 100%;
    margin-right: 0 !important;
  }

  .personal-data-con {
    margin-right: 0 !important;
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 600px) {
  .flex-con {
    align-items: center !important;
    flex-direction: column-reverse;
  }
}

