/* Updated Tab Styles */
.custom-tab {
  padding: 12px 20px; /* Adjust padding for height and width */
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 25px; /* Same border-radius for all sides */
  min-width: 120px; /* Set a minimum width */
  /* Default tab style */
  background-color: #ffffff;
  color: #333;
  border: 1px solid #ddd; /* Add a border to inactive tabs */
}

.custom-tab:hover {
  background-color: #f0f0f0; /* Adjust the hover background color as needed */
}

.custom-tab.active {
  background-color: #1a9086; /* Primary color when tab is active */
  color: #ffffff;
  border: 1px solid #1a9086; /* Border color for active tab */
}
