<div class="container p-5" *ngIf="solvedQuizResponse">
  <div class="d-flex align-items-start">
    <circle-progress
      [percent]="(solvedQuizResponse.totalCorrectAnswersCount / solvedQuizResponse.totalQuestionsCount) * 100"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>

    <div>
      <h2>Łączna ilośc pytań: {{ solvedQuizResponse.totalQuestionsCount }}</h2>
      <h2>Ilość poprawnych odpowiedzi: {{ solvedQuizResponse.totalCorrectAnswersCount }}</h2>
    </div>
  </div>
</div>
