<div class="header-container">
  <div class="header-content p-4">
    <h1 class="mb-4">Zostań programistą fullstack</h1>
    <p class="header-info mb-4">Dowiedz się, jak tworzyć komerycjne aplikację od początku do końca przy użyciu technologii Spring Boot i Angular</p>

    <div class="d-flex align-items-center">
      <a class="mb-4 me-4 mj-button-primary"
              (click)="openPromoWithVideoModal()"
      >
        <div class="d-flex align-items-center">
          <mat-icon class="me-2">remove_red_eye</mat-icon>
          <span>Zobacz ofertę</span>
        </div>
      </a>

      <a class="mb-4 me-4 mj-button-primary">
        <div class="d-flex align-items-center">
          <span class="me-2">Kup kurs</span>
          <mat-icon>shopping_basket</mat-icon>
        </div>
      </a>
    </div>
  </div>
</div>
