@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Montserrat:wght@300&family=Open+Sans:ital,wght@0,400;1,300&family=Playfair+Display&family=Rubik:ital,wght@0,400;1,300&display=swap');


body { margin: 0 }

.max-w-input {
  width: 100%;
}

.form-con {
  padding: 4rem 4rem;
}

.form-container {
  padding: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 8px;
}

.mj-button-primary {
  text-decoration: none;
  background-color: #1a9086;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px 25px 25px 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mj-button-primary:hover {
  background-color: #155e55;
}

/* Secondary Button Style */
.mj-button-secondary {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.mj-button-secondary:hover {
  color: #555;
}

.mj-tab {
  padding: 12px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 25px;
  min-width: 120px;
  text-align: center;
  background-color: #ffffff;
  color: #333;
  border: 1px solid #ddd;
}

.mj-tab:hover {
  background-color: #f0f0f0;
}

.mj-tab.active {
  background-color: #1a9086;
  color: #ffffff;
  border: 1px solid #1a9086;
}

@media only screen and (max-width: 500px) {
  .form-con {
    padding: 1rem;
  }
}

p {
  color: #333;
}

html, body, h1, h2, h3, h4, h5, p, span, button {
  height: 100%;
  font-family: 'Merriweather', serif !important;
}
