html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.max-w-input {
  width: 100%;
}

.form-con {
  padding: 4rem 4rem;
}

.form-container {
  padding: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 8px;
}

@media only screen and (max-width: 500px) {
  .form-con {
    padding: 1rem;
  }
}

p {
  color: #333;
}
