@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Montserrat:wght@300&family=Open+Sans:ital,wght@0,400;1,300&family=Playfair+Display&family=Rubik:ital,wght@0,400;1,300&display=swap');


body { margin: 0 }

.max-w-input {
  width: 100%;
}

.form-con {
  padding: 4rem 4rem;
}

.form-container {
  padding: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 8px;
}

@media only screen and (max-width: 500px) {
  .form-con {
    padding: 1rem;
  }
}

p {
  color: #333;
}

html, body, h1, h2, h3, h4, h5, p, span, button {
  height: 100%;
  font-family: 'Merriweather', serif !important;
}
